<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-6 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Create your profile</h4>
            </div>
            <div class="panel-body">
            <form role="form">
                <div class="row">

                <%= simple_form_for(@baker) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                    <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                  <%= f.input :firstname %>
                  </div>
                  </div>
                      <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                  <%= f.input :lastname %>
                  </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="form-group">
                  <%= f.input :description %>
                  </div>
                  </div>
                    <div class="col-xs-12">
                    <div class="form-group">
                  <%= f.input :address %>
                  </div>
                  </div>

                    <div class="col-xs-12">
                    <div class="form-group">
                  <%= f.input :photo %>
                  <%= f.input :photo_cache, as: :hidden %>
                  </div>
                  </div>

                </div>
                  <div class="col-xs-12">
                    <div class="form-group">
                <div class="form-actions">
                  <%= f.button :submit %>
                </div>
                </div>
                </div>
                <% end %>
                </div>
                </div>
              </div>
            </div>
            </div>
            </div>
            </div>


