<div class="container">
        <div class="centered-form">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Create your profile</h4>
            </div>
            <div class="panel-body">
            <form role="form">
                <div class="row">

                <%= simple_form_for(@baker) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                    <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                  <%= f.input :firstname, :placeholder => "First name" %>
                  </div>
                  </div>
                      <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                  <%= f.input :lastname, :placeholder => "Last name" %>
                  </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="form-group">
                  <%= f.input :description,:as => :text, :placeholder => "Tell us about yourself...", :input_html => { 'rows' => 5 } %>
                  </div>
                  </div>
                    <div class="col-xs-12">
                    <div class="form-group">
                  <%= f.input :address, :placeholder => "Address"%>
                  </div>
                  </div>

                    <div class="col-xs-12">
                    <div class="form-group" >
                  <%= f.input :photo%>
                  <%= f.input :photo_cache, as: :hidden %>
                  </div>
                  </div>

                </div>
                  <div class="col-xs-12">
                    <div class="form-group">
                <div class="form-actions">
                  <%= f.button :submit %>
                </div>
                </div>
                </div>
                <% end %>
                </div>
                </div>
              </div>
            </div>
            </div>
            </div>
            </div>


