 <div class="profile-header-wrapper">
      <div class="container profile-header-container text-center">
        <div class="profile-header-infos">
          <%= image_tag @baker.photo, class: "round" %>
          <h4 style="color:wheat;"><%= @baker.firstname %> <%= @baker.lastname %></h4>

        <p style="color: white;">
          <%= @baker.address %>
        </p>
         <p style="color: white;">
       <!--    <strong>Average Rate:</strong> -->
          <% if @baker.averagerate.blank?%>
            <h5><%= @baker.firstname%> doesn't have rates yet. </h5>
          <% else %>
          <div class="star-ratings-sprite"><span style="width:<%= (@baker.averagerate * 20).to_i if @baker.averagerate %>%" class="star-ratings-sprite-rating"></span></div>
          <%= '%.2f' %  @baker.averagerate %>
          <% end %>
        </p>
        </div>
        <div class="tabs">
          <a class="tab active" data-target="#bio">
            <h5>Profile</h5>
          </a>
          <a class="tab" data-target="#projects">
            <h5>Orders</h5>
          </a>
          <a class="tab" data-target="#contact">
            <h5>Reviews</h5>
          </a>
        </div>
      </div>
    </div>


    <div class=" tab-content box-general" id="bio">
        <div class="bakercard hovercard" style="margin: 20px 20px 0 20px">
          <div class="bakercardheader" style="padding:20px 0 20px 0">
            <p id="notice"><%= notice %></p>

            <h7>
              <%= @baker.firstname %> <%= @baker.lastname %>
            </h7>

            <p style="padding: 20px 0 20px 0">
              <%= image_tag @baker.photo %>
            </p>

            <p>
              <strong>About me:</strong>
              <%= @baker.description %>
            </p>

            <p>
              <strong>Address:</strong>
              <%= @baker.address %>
            </p>

            <p>
              <strong>Average Rate:</strong>
              <% if @baker.averagerate.blank?%>
                <h5><%= @baker.firstname%> doesn't have rates yet. </h5>
              <% else %>
              <div class="star-ratings-sprite"><span style="width:<%= (@baker.averagerate * 20).to_i if @baker.averagerate %>%" class="star-ratings-sprite-rating"></span></div>
              <%= '%.2f' %  @baker.averagerate %>
              <% end %>
            </p>

            <div class="bottom">
              <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/sweetjoy">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-danger btn-sm" rel="publisher"
              href="https://plus.google.com/+sweetjoy">
                <i class="fa fa-google-plus"></i>
              </a>
              <a class="btn btn-primary btn-sm" rel="publisher"
              href="https://plus.google.com/sweetjoy">
                <i class="fa fa-facebook"></i>
              </a>

            </div>

          </div>
        </div>


        <div class="box-item2" style="margin: 20px;">

          <%= render 'form' %>

          <%= link_to 'Show', @baker %>
        </div>
      </div>


<div class="tab-content hidden" id="projects">
  <div class="container">
    <div class="media-aside">
    <div class="media-section">
      <h7>Your Orders</h7>
          <div class="panel-body">
        <% if @baker.orders.present? %>
          <% @baker.orders.each do |order| %>
            <div>
              <hr class="style-four">
              <h2> Order n. <%= order.id %>: </h2>
              <% order.order_lines.each do |order_line| %>
                <div>
                  <h6> - Product: <%= order_line.product.name %></h6>
                  <h6> - Special Instructions: <%= order_line.special_instruction %></h6>
                </div>
                <hr class="style-one">
              <% end %>
              <h5>Address: <%= order.delivery_address %></h5>
              <h5>Date: <%= order.delivery_date %></h5>
              <h5>Status: <%= order.state %>
                <% if order.state == 'PAID' %>
                  <%= link_to "Change to Delivered", baker_close_order_path(@baker, order), method: 'patch', class: "btn btn-default" %>
                <% end %>
              </h5>
              <hr class="style-four">
            </div>
          <% end %>
        <% else %>
          <p>You don't have any order yet.</p>
        <% end %>
    </div>
    </div>
  </div>
</div>
      </div>


      <div class="tab-content hidden" id="contact">
      <div class="container" style="padding-bottom: 50px">
<div class="media-aside">
    <div class="media-section">

  <h7>Your Reviews</h7>
        <div class="panel-body">
       <% if @baker.reviews.blank? %>
        <h5>You don't have reviews yet.</h5>
       <% else %>
        <% @baker.reviews.each do |review| %>
          <p><%= image_tag 'nophoto.png', class: 'avatar-large'%></p>
          <p><%=review.content%></p>
          <div class="star-ratings-sprite"><span style="width:<%= (review.rate * 20).to_i %>%" class="star-ratings-sprite-rating"></span></div>
        <% end %>
       <% end %>
     </div>
      </div>
      </div>
      </div>
      </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascript/tabs.js"></script>







