<div class='container wrapper-grey'>
<div class="media-section media-aside text-center">
  <p id="notice"><%= notice %></p>

  <h4>
    <strong><%= @baker.firstname %> <%= @baker.lastname %></strong>

  </h4>

  <p>
    <%= image_tag @baker.photo.url(:bright_face) %>
  </p>

  <p>
    <strong>About me:</strong>
    <%= @baker.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @baker.address %>
  </p>

  <%= link_to 'Edit', edit_baker_path(@baker) %> |
  <%= link_to 'Back', bakers_path %>
</div>
</div>
