
 <div class="profile-header-wrapper">
      <div class="container profile-header-container text-center">
        <div class="profile-header-infos">
          <%= image_tag @baker.photo, class: "round" %>
          <h4 style="color:wheat;"><%= @baker.firstname %> <%= @baker.lastname %></h4>

        <p style="color: white;">
          <%= @baker.address %>
        </p>
         <p style="color: white;">
       <!--    <strong>Average Rate:</strong> -->
          <% if @baker.averagerate.blank?%>
            <h5><%= @baker.firstname%> doesn't have rates yet. </h5>
          <% else %>
          <div class="star-ratings-sprite"><span style="width:<%= (@baker.averagerate * 20).to_i if @baker.averagerate %>%" class="star-ratings-sprite-rating"></span></div>
          <%= '%.2f' %  @baker.averagerate %>
          <% end %>
        </p>
        </div>
        <div class="tabs">
          <a class="tab active" data-target="#bio">
            <h5>About me</h5>
          </a>
          <a class="tab" data-target="#projects">
            <h5>Shop</h5>
          </a>
          <a class="tab" data-target="#contact">
            <h5>Reviews</h5>
          </a>
        </div>
      </div>
    </div>

      <div class="tab-content" id="bio">
<div class="container list-inline">
  <div class="col-sm-12 col-lg-6 col-sm-6 col-md-offset-3">
    <div class="bakercard hovercard" style="margin: 0 20px 0 20px">
      <div class="bakercardheader">
        <p id="notice"><%= notice %></p>

        <h4>
          <%= @baker.firstname %> <%= @baker.lastname %>
        </h4>

        <p>
          <%= image_tag @baker.photo %>
        </p>

        <p>
          <strong>About me:</strong>
          <%= @baker.description %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @baker.address %>
        </p>

        <p>
          <strong>Average Rate:</strong>
          <% if @baker.averagerate.blank?%>
            <h5><%= @baker.firstname%> doesn't have rates yet. </h5>
          <% else %>
          <div class="star-ratings-sprite"><span style="width:<%= (@baker.averagerate * 20).to_i if @baker.averagerate %>%" class="star-ratings-sprite-rating"></span></div>
          <%= '%.2f' %  @baker.averagerate %>
          <% end %>
        </p>

        <div class="bottom">
          <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/sweetjoy">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-danger btn-sm" rel="publisher"
          href="https://plus.google.com/+sweetjoy">
            <i class="fa fa-google-plus"></i>
          </a>
          <a class="btn btn-primary btn-sm" rel="publisher"
          href="https://plus.google.com/sweetjoy">
            <i class="fa fa-facebook"></i>
          </a>

        </div>

      </div>
    </div>
  </div>

  </div>


      </div>
      <div class="tab-content hidden" id="projects">
       <div class="container">
  <div class="row">
    <h4 class="text-center">See <%=@baker.firstname%>'s collection</h4>
    <% @baker.products.each do |product| %>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column productbox">

      <%= image_tag product.photo, class: "img-responsive" %>

     <div class="producttitle"><%= product.name %></div>
     <div class="productdescription"><%= product.description %></div>
     <div class="productprice">
     <div class="pull-right">
      <% if current_user %>
        <%= link_to "Order", product_path(product), class: "btn btn-default"%>
      <% else %>
        <%= link_to "Log in to Buy", new_user_session_path, class: "btn btn-default"%>
      <% end %>
      </div>
      <div class="pricetext">R$<%= product.price %></div>
    </div>

    </div>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
         <%= render 'order_lines/form', product: product, order_line:OrderLine.new %>
       </div>
     </div>
   </div>
  <% end%>
  </div>
</div>
      </div>


      <div class="tab-content hidden" id="contact">
      <div class="container" style="padding-bottom: 50px">

  <h4>Reviews</h4>
  <!-- Iterating to check if the user has a order to this baker -->
  <% has_order = false %>
  <% @baker.products.each do |product| %>
    <% product.order_lines.each do |order_line| %>
      <% has_order = true  if order_line.order.user == current_user %>
    <%end%>
  <%end%>
  <!-- If the user has a order to this baker he can add a review otherwise just see the reviews -->
  <% if has_order %>
    <% if @baker.reviews.blank? %>
      <p>Be the first to leave a review for <%= @baker.firstname %></p>
    <% else %>
      <% @baker.reviews.each do |review| %>
        <p><%= image_tag 'nophoto.png', class: 'avatar-large'%></p>
        <p><%=review.content%></p>
        <div class="star-ratings-sprite"><span style="width:<%= (review.rate * 20).to_i %>%" class="star-ratings-sprite-rating"></span></div>
      <% end %>
    <% end %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-add-order-details">Add a new review</button>
  <% else %>
    <% if @baker.reviews.blank? %>
      <h5><%= @baker.firstname %> doesn't have reviews yet</h5>
    <% else %>
      <% @baker.reviews.each do |review| %>
          <p><%= image_tag 'nophoto.png', class: 'avatar-large'%></p>
          <p><%=review.content%></p>
          <div class="star-ratings-sprite"><span style="width:<%= (review.rate * 20).to_i %>%" class="star-ratings-sprite-rating"></span></div>
      <% end %>
    <% end %>
  <% end %>

  <div class="modal fade bs-add-order-details" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body"> <%= render 'reviews/form', baker: @baker, review: @review %> </div>
      </div>
    </div>
  </div>
      </div>
      </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascript/tabs.js"></script>







