<%= simple_form_for [product, order_line] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :special_instruction %>
    <%= f.input :quantity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
