<div class='container'>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Baker:</strong>
  <%= @product.baker.firstname %>
</p>

<p>
<%= image_tag @product.photo.url(:product_profile) %>
</p>


<div class="media"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div>

<div class="media-section">
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
</div>
