<div class='container'>
<div class='bakercard'>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Baker:</strong>
  <%= @product.baker.firstname %>
</p>

<p>
<%= image_tag @product.photo.url, id: "zoom_01" %>
</p>

<script>
    $('#zoom_01').elevateZoom();
</script>
<!-- <div class="media"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div> -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-add-order-details">Add to Cart</button>

<div class="modal fade bs-add-order-details" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'order_lines/form', product: @product, order_line:OrderLine.new %>
      </div>
    </div>
  </div>
</div>

<div class="media-section">
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
</div>
</div>

